<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CloudArtChain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B38A5F6624F34F0A00FA3EF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B38A5F8124F34F0C00FA3EF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B38A5F8C24F34F0C00FA3EF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
